body {
  font-family: sans-serif;
  background: #ecf0f1;
  color: #34495e;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
